<table width = "100%" CELLPADDING="12" CELLSPACING="6" >
	<tr>
		<td width = "20%"><u>Day</u></td>
		<td width = "60%"><u>Summary</u></td>
		<td width = "20%"><u>Status</u></td>
	</tr>
	<p>
	<tr>
		<td>&nbsp</td>
		
	</tr>
	<tr>
		<td><b>Monday</b></td>
		<td><i><%=monDay %></i></td>
		<td><font color = "#3E6E2B">completed</td>
	</tr>
	<tr>
		<td><b>Tuesday</b></td>
		<td><i><%=tuesDay %></i></td>
		<td><font color = "#82DE5D">in progress</td>
	</tr>
	<tr>
		<td><b>Wednesday&nbsp&nbsp&nbsp</b></td>
		<td><i><%=wednesDay %></i></td>
		<td><font color = "#D0E6C8">planned</td>
	</tr>
	<tr>
		<td><b>Thursday</b></td>
		<td><i><%=thursDay %></i></td>
		<td><font color = "#D0E6C8">planned</td>
	</tr>
	<tr>
		<td><b>Friday</b></td>
		<td><i><%=friDay %></i></td>
		<td><font color = "#D0E6C8">planned</td>
	</tr>
	<tr>
		<td><b>Saturday</b></td>
		<td><i><%=saturDay %></i></td>
		<td><font color = "#D0E6C8">planned</td>
	</tr>
	<tr>
		<td><b>Sunday</b></td>
		<td><i><%=sunDay %></i></td>
		<td><font color = "#D0E6C8">planned</td>
	</tr>
</table>

<select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>



<HTML>
    <HEAD>
        <TITLE>Submitting Multiple Selection Select Controls</TITLE>
    </HEAD>
 
    <BODY>
        <H1>Submitting Multiple Selection Select Controls<H1>
        <FORM ACTION="formAction.jsp" METHOD="POST">
            <SELECT NAME="select1" SIZE="5" MULTIPLE>
                <OPTION>Option 1</OPTION>
                <OPTION SELECTED>Option 2</OPTION>
                <OPTION>Option 3</OPTION>
                <OPTION>Option 4</OPTION>
                <OPTION>Option 5</OPTION>
           </SELECT>
           <BR>
           <INPUT TYPE="SUBMIT" VALUE="Submit">
       </FORM>
    </BODY>
</HTML>

//File: formAction.jsp
<HTML>
    <HEAD>
        <TITLE>Reading Multiple Selection Select Controls</TITLE>
    </HEAD>

    <BODY>
        <H1>Reading Multiple Selection Select Controls</H1>
        You selected:
        <BR>
        <% String[] items = request.getParameterValues("select1");
        for(int loopIndex = 0; loopIndex < items.length; loopIndex++){
            out.println(items[loopIndex] + "<BR>");
        }
        %>
    </BODY>
</HTML>




//File: index.html
<HTML>
    <HEAD>
        <TITLE>Submitting Select Controls</TITLE>
    </HEAD>
 
    <BODY>
        <H1>Submitting Select Controls</H1>
        <FORM ACTION="formAction.jsp" METHOD="POST">
            <SELECT NAME="select1">
                <OPTION>Option 1</OPTION>
                <OPTION SELECTED>Option 2</OPTION>
                <OPTION>Option 3</OPTION>
            </SELECT>
            <INPUT TYPE="submit" VALUE="Submit">
        </FORM>
    </BODY>
</HTML>

//File: formAction.jsp
<HTML>
    <HEAD>
        <TITLE>Reading Select Controls</TITLE>
    </HEAD>

    <BODY>
        <H1>Reading Select Controls</H1>
        You selected 
        <% out.println(request.getParameter("select1")); %>
    </BODY>
</HTML>